<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team | The Amazon Tribe | Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
      <h1>Welcome to "The Amazon Tribe" application</h1>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
      <table>
        <tr>
          <td>Title      :</td>
          <td><input name="title" type="text" /> </td>
        </tr>
        <tr>
          <td>Description :</td>
          <td><input name="description" type="text" /></td>
        </tr>
        <tr>
          <td>Location   :</td>
          <td><input name="location" type="text" /></td>
        </tr>
       </table>
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>