<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p>Location : {{ location }}</p>
        <p>Likes : {{ likes }}
        </p>
        <table>
          <tr>
            <td>
              <form method="POST" action="/event/like">
                <input type="hidden" value="{{id}}" name="id">
                <input type="submit" value="Like">
              </form>
            </td>
            <td>
              <form method="POST" action="/event/unlike">
                <input type="hidden" value="{{id}}" name="id">
                <input type="submit" value="UN-Like">
              </form>
            </td>
          </tr>
        </table>
    </li>
  {{/events}}
</ul>